{% extends 'PremiumBundle::acceuil.html.twig' %}


{% block head %}
{% block title %}PremiumBundle:Admin:Adminimistrateur{% endblock %}


{% endblock %}

{% block body %}

{% block slide %}

{% endblock %}

{% block recherche %}
 
{% endblock %}

{% block apropos %}
 
{% endblock %}

{% block galerie %}

{% endblock %}

{% block partenaires %}
{% endblock %}

{% block offre %}
<div>
<br><br><br><br><br><br>
</div>
<style>
.h2,
h3, 
h4, 
h5{
 background-color: orange;
}
#delete{
 list-style-type: none;
}
</style>

 <div class="row" id="contrat">
 <div class="col-md-12">
 <div class="panel panel-default dark-overlay">
 <div class="panel-heading">
 {%for reservation in reservations %}
 <center><h1> VALIDATION DU CONTRAT DE {{reservation.Client.nomComplet|upper}}<h1></center>
 </div>
 <div class="panel-body row">
 <div class="col-md-12">
 <div class="panel panel-primary panel-body row">
 <div class="col-md-12">
 <div class="panel panel-blue">
 <div class="panel-heading dark-overlay">
 <h2 class="h2"> DETAILS DU BIEN RESERVER <h2>
 </div>
 <div class="panel-body row">
 <ul class="col-md-4 ul_detail">
 <li>
 <span class="right"> NOM DU BIEN </span> :
 </li>
 <li>
 <span class="right"> LOCALITE </span> :
 </li>
 <li>
 <span class="right"> TYPE DU BIEN </span> :
 </li>
 
 
 </ul>
 <ul class="col-md-8 ul_detail" id="delete">
 <li>
 <span class="front"> {{reservation.Bien.nomBien}} </span>
 </li>
 <li>
 <span class="front"> {{reservation.Bien.Localite.libelle}} </span>
 </li>
 
 <li>
 <span class="front"> {{reservation.Bien.TypeBien.libelle}} </span>
 </li>
 
 
 </ul>
 </div>
 </div>
 </div>
 <!--/.col-->
 <div class="col-md-12">
 <div class="panel panel-blue">
 <div class="panel-heading dark-overlay">
<h3> DETAILS DU CLIENT<h3>
 </div>
 <div class="panel-body row">
 <ul class="col-md-4 ul_detail">
 <li>
 <span class="right"> PRENOM & NOM </span> :
 </li>
 <li>
 <span class="right"> CNI </span> :
 </li>
 <li>
 <span class="right"> ADRESSE </span> :
 </li>
 <li>
 <span class="right"> E-mail </span> :
 </li>
 <li>
 <span class="right"> TELEPHONE </span> :
 </li>
 </ul>
 <ul class="col-md-8 ul_detail" id="delete">
 <li>
 <span class="front"> {{reservation.Client.nomComplet}}</span>
 </li>
 <li>
 <span class="front"> {{reservation.Client.numPiece}} </span>
 </li>
 <li>
 <span class="front"{{reservation.Client.adresse}} </span>
 </li>
 <li>
 <span class="front"> {{reservation.Client.email}}</span>
 </li>
 <li>
 <span class="front"> {{reservation.Client.tel}} </span>
 </li>
 </ul>
 </div>
 </div>
 </div>
 <!--/.col-->
 <div class="col-md-12">
 <div class="panel panel-blue">
 <div class="panel-heading dark-overlay">
 <h4>REGLEMENT</h4>
 </div>
 <div class="panel-body row">
 <ul class="col-md-4 ul_detail">
 <li>
 <span class="droite"> MENSUALITE </span>
 </li>
 <li>
 <span class="droite"> CAUTION </span> 
 </li>
 <li>
 <span class="droite"> TOTAL</span>
 </li>
 <br>
 
 <form method="POST" class="form-group">
 <div class="checkbox">
 <label style="font-weight: bold;">
 <input type="checkbox" id="contrat_renouvable" value="contrat de 1 an renouvelable"> Contrat de 1 an renouvelable
 </label>
 <br>
 </div>
 </form>
 
 </ul>
 <ul class="col-md-8 ul_detail" id="delete">
 <li>
 <span class="front"> {{ reservation.Bien.prixlocation }} CFA </span>
 </li>
 <li>
 <span class="front"> {{ reservation.Bien.prixlocation }} CFA</span>
 
 </li>
 <li>
 <span class="front"> {{ reservation.Bien.prixlocation *2 }} CFA</span>
 </li>
 </ul>
 </div>
 </div>
 </div>
 <!--/.col-->
 
 <div class="col-md-12">
 <div class="panel panel-blue">
 <div class="panel-heading dark-overlay">
 <h5>TERMES DU CONTRAT</h5>
 </div>
 <div class="panel-body row">
 <div class="col-md-12">
 <form method="POST" action="{{path ('contrat_reservation')}}" class="form-group">
 <div class="form-group">
 <label>TERMES ET CONDITIONS DU CONTRAT</label>
 <center>
 {%for text in textcontrat %}
 <textarea id="aImprimer" class="form-control" rows="4" readonly>
 {{text.text}}
 </textarea>
 {%endfor%}
 </center>
 </div>
 <div class="radio">
 <label style="font-weight: bold;">
 <input type="radio" name="able" class="able" value="accepter" id="active" > ACCEPTER
 </label>
 <label style="font-weight: bold;">
 <input type="radio" name="denied" class="denied" value="refuser"> REFUSER
 </label>
 </div>

 <input type="hidden" name="idclient" value="{{reservation.Client.id}}" />
 <input type="hidden" name="idbien" value="{{reservation.Bien.id}}" />
 <input type="hidden" name="caution" value="{{reservation.Bien.prixlocation}}" />
 <input type="hidden" name="montant" value="{{reservation.Bien.prixlocation}}" />
  <input type="hidden" name="idreservation" value="{{reservation.id}}" />

 
 <input style="color: #1a2b3c;" id="print" type="submit" value="VALIDER" class="btn btn-primary">
 </form>
 </div>
 </di>
 </div>
 </div>
 <!--/.col-->
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="col-sm-12">
 &nbsp;
 </div>
 <!--/.col-->
 <script type="text/javascript">
 
</script> 
 {% endfor %}

 

{% endblock %}
{% endblock %}