{% extends 'PremiumBundle::acceuil.html.twig' %}


{% block title %}PremiumBundle:Front:reserver{% endblock %}

{% block slide %}
<div>
<br><br><br><br>


</div>
   
{% endblock %}
{% block offre %}
{%for bien in  biens %}


<div class="mg-best-rooms maclasse" style="display:flex">

<div class="container ok">
<div id="alertreseravtion" class="alert alert-success">
  <strong>Success! Votre Resevation est prise en compte </strong>
</div>
 <div class="mySlides">
 <div class="numbertext">1 / 3</div>
 <img src="{{ asset('images/')}}{{bien.images[0].image}}"style="width:100%">
 </div>

 
 <div class="mySlides">
 <div class="numbertext">2 / 3</div>
 <img src="{{ asset('images/')}}{{bien.images[1].image}}"style="width:100%">
 </div>

 <div class="mySlides">
 <div class="numbertext">3 / 3</div>
 <img src="{{ asset('images/')}}{{bien.images[2].image}}" style="width:100%">
 </div>
 
 

 <div class="row" style="display:flex;margin-left:2px;height:500px;">
 <img class="demo cursor" src="{{ asset('images/')}}{{bien.images[0].image}}" style="width:25%;height:20%" onclick="currentSlide(1)" alt="The Woods">
 <img class="demo cursor" src="{{ asset('images/')}}{{bien.images[1].image}}" style="width:25%; height:20%" onclick="currentSlide(2)" alt="Northern Lights">
 <img class="demo cursor" src="{{ asset('images/')}}{{bien.images[2].image}}" style="width:25%; height:20%"onclick="currentSlide(3)" alt="Nature and sunrise">
 </div>
 </div>
 







        
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mg-sec-title">
                            
                            <p>NE RATER PAS CETTE OFFRE: <br>{{bien.description}}</p>
                           <span style="background-color:yellow"> Prix:{{bien.prixlocation}}FCFA </span>
                            <br>
                             Premium Immobilier Satisfait ou remboursé!
                        </div>
                          {%endfor%}  
                        
                        
                    </div>
                </div>
            </div>

<div style="margin-left:20px" class="container">


<fieldset style=""> <legend> <a id="conne" > SE CONNECTER </a> OU <a id="insc" > S'INSCRIRE </a></legend>
<form id="formconnexion" style="background-color:orange">
    <p class="h4 text-center mb-4">CONNECTION</p>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>        
        <label for="materialFormLoginEmailEx">Votre Email</label>

        <input type="email" name="mail" id="materialFormLoginEmailEx" class="form-control">
    </div>  

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
                <label for="materialFormLoginPasswordEx">Votre Mot de Passe</label>

        <input name="password" type="password" id="materialFormLoginPasswordEx" class="form-control">
    </div>

    <div class="text-center mt-4">
      <input class="btn btn-primary" type="submit" name="reserver" value="Reserver">
    </div>
</form>


  <form id="formreservation" action="" method="post" style="background-color:orange">
    <p class="h4 text-center mb-4">INSCRIPTION</p>

    <!--  numero piece -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>        
        <label for="materialFormLoginEmailEx">NUMERO PIECE</label>
        <input type="number" id="materialFormLoginEmailEx" name="numpiece" placeholder="num piece.." class="form-control" required>

    </div>  


     <!-- Nom Complet -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>        
        <label for="materialFormLoginEmailEx">NOM COMPLET</label>

    <input type="text" id="nomcomplet" name="nomcomplet" placeholder="Papa Tene.." class="form-control" required>
    </div>  

     <!-- NuMERO TELEPHONE -->
    <div class="md-form">
        <i class="fa fa-phone prefix grey-text"></i>        
        <label for="materialFormLoginEmailEx">TELEPHONE</label>
        <input type="number" id="tel" name="tel" placeholder="77545454" class="form-control" required>
    </div>

    <!-- ADRESSES -->
    <div class="md-form">
        <i class="fa fa-home prefix grey-text"></i>        
        <label for="materialFormLoginEmailEx">ADRESSE</label>
        <input type="text" id="adresse" name="adresse" placeholder="Fass mbao.." class="form-control" required>
    </div>   



    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>        
        <label for="materialFormLoginEmailEx">VOTRE EMAIL</label>
        <input type="email" id="email" name="email" placeholder="premium@immobilier.sn" class="form-control" required >

    </div>  

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
                <label for="materialFormLoginPasswordEx">VOTRE MOT DE PASSE</label>

        <input type="password" id="materialFormLoginPasswordEx" class="form-control">
    </div>
    <!-- Rettaper mt de pass -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
                <label for="materialFormLoginPasswordEx">CONFIRMER MOT DE PASSE</label>

        <input type="password" id="materialFormLoginPasswordEx" class="form-control">
    </div>
     {% for bien in  biens %}
   <input  type="hidden" name="idbienareserver" value="{{bien.id}}">
    {% endfor %}

    <div class="text-center mt-4">
      <input class="btn btn-primary" type="submit" name="reserver" value="Reserver">
    </div>
</form>

 
  </fieldset>




</div>






<style type="text/css">

</style>






        </div>
        {% endblock %}

{% block recherche %}
 
{% endblock %}



{% block apropos %}
 
{% endblock %}
{% block partenaires %}
{% endblock %}

{% block galerie %}

{% endblock %}
{% block form %}
 
{% endblock %}

